body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* #region header */

.page-header {

}

.page-logo-header {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;

}

.page-logo-header-web {
    color: #4D5AE5;
}
.page-nav {

}

.nav-list-item {
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
    color: #404BBF;
}

.page-address {
 font-style: normal;
}

.address-list {

}

.address-list-item {

}

.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404BBF;
}


/* #endregion header */

/* #region hero section */

.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.07143;
    letter-spacing: 0.02em;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* #endregion hero section */

/* #region about section */

.features {

}

.features-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2E2F42;
    letter-spacing: 0.02em;

}

.features-list {

}
 
.features-list-item {

}

.features-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: left;
}

.features-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
/* #endregion about section */

/* #region team section */

.team-section {
background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-list {

}

.team-list-card {
    background-color: #FFFFFF;
}

.team-list-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-list-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

/* #endregion team section */

/* #region portfolio section */
.portfolio-section {

}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.portfolio-list {
    
}

.portfolio-list-card {

}

.portfolio-list-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.portfolio-list-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}


/* #endregion portfolio section */

/* #region footer section */
.footer-section {
    background-color: #2E2F42;
}

.page-logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.03em;

}
.page-logo-footer-web {
    color: #4D5AE5;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
/* #endregion footer section */